circle {
  animation: 3s move alternate infinite;
  -webkit-animation: 3s move alternate infinite;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

body {
  background: #555;
}

@keyframes move {
  from {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}
  to {
    transform: translate(500px);
    -webkit-transform: translate(500px);
    -moz-transform: translate(500px);
    -ms-transform: translate(500px);
    -o-transform: translate(500px);
  }
}