svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.twitter-outline,
.twitter-icon {
  -webkit-transition: 300ms all;
  transition: 300ms all;
  -webkit-transform-origin: 22.5% center;
  transform-origin: 22.5% center;
}

.twitter-icon-group:hover .twitter-outline {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.twitter-icon-group:hover .twitter-icon {
  -webkit-transform: scale(2);
  transform: scale(2);
  stroke: #4099ff;
  opacity: 0;
}

.youtube-icon,
.youtube-outline,
.youtube-inner-circle {
  -webkit-transition: 300ms all;
  transition: 300ms all;
  -webkit-transform-origin: 50% center;
  transform-origin: 50% center;
}

.youtube-icon-group:hover .youtube-outline {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.youtube-icon-group:hover .youtube-inner-circle {
  fill: #f26768;
}

.youtube-icon-group:hover .youtube-icon {
  stroke: white;
}

.facebook-outline,
.facebook-detail {
  -webkit-transition: 300ms all;
  transition: 300ms all;
  -webkit-transform-origin: 78% center;
  transform-origin: 78% center;
}

.facebook-detail {
  opacity: 0;
}

.facebook-icon-group:hover .facebook-outline {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  opacity: 0;
}

.facebook-icon-group:hover .facebook-detail {
  opacity: 100;
  -webkit-transform: scale(0.8) rotate(180deg);
  transform: scale(0.8) rotate(180deg);
}
